{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
</head>
<body>
    <div class="banner-image">
        <img src="https://cdn.lepape-info.com/media/2012/06/2-2017-TDS-Michel-Lanne-photo-Damien-Rosso-www.droz-photo.com_.jpg" alt="Mountain Landscape" width=1600 height=1000>
    </div>
    <div style="position: absolute; top: 20px; right: 10px;">
        {% if user.is_authenticated %}
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="bg-dark-blue text-white p-2 rounded-md" style="font-size: 0.9rem;">Déconnexion</button>
                <a href="{% url 'list' %}" class="bg-dark-blue text-white p-2 rounded-md" style="font-size: 0.9rem;">Liste de courses</a>
            </form>
        {% else %}
            <a href="{% url 'login' %}" class="bg-dark-blue text-white p-2 rounded-md" style="font-size: 0.9rem;">Connexion</a>
            <a href="{% url 'signup' %}" class="bg-dark-blue text-white p-2 rounded-md" style="font-size: 0.9rem;">Créer un compte</a>
        {% endif %}
    </div>
    <h1 class="typo-h1 text-white max-w-[530px]"><span class="text-dark-blue">Runner,</span><br>run the world</h1>

    <header>
        

        <form action="{% url 'submit_form' %}" method="post">
            <center>
            <select name="ville" class="bg-dark-blue text-white p-2 rounded-md" style="font-size: 0.8rem;">
                <!-- Options du select -->
            </select>
            
            <input type="text" name="minDistance" placeholder="Minimum Distance" class="bg-dark-blue text-white p-2 rounded-md" style="font-size: 0.6rem;">
            <input type="text" name="maxDistance" placeholder="Maximum Distance" class="bg-dark-blue text-white p-2 rounded-md" style="font-size: 0.6rem;">
            
            <button type="submit" class="bg-dark-blue text-white px-4 py-2 rounded-md" style="font-size: 14px;">
                Run
            </button>
        </form>
    </header>
</body>
</html>