<!DOCTYPE html>
<html>
<head>
{% load static %}
  <link rel="stylesheet" href="{% static 'polls/style_list.css' %}"> 
</head>
<body>
  <div class="banner-image">
    <h1 class="typo-h1 text-dark-blue max-w-[530px]">MA LISTE</h1>
    <p class="typo-h1 text-dark-blue max-w-[530px]">{{ title }}</p>
    <p class="typo-h1 text-dark-blue max-w-[530px]">{{ city }}</p>
  </div> 

  <ul>
    {% for item in items %}
      <li>
        {{ item.content }}
        <form method="post" action="{% url 'delete_item' item.id %}">
          {% csrf_token %}
          <button type="submit">Supprimer</button>
        </form>
      </li>
    {% endfor %}
  </ul>

  <form method="POST" action="{% url 'list' %}" class="add-form">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="title" value="{{ title }}">
    <input type="hidden" name="city" value="{{ city }}">
    <button type="submit" class="bg-dark-blue text-white px-4 py-2 rounded-md" style="font-size: 14px;">Ajouter</button>
  </form>

  <a href="{% url 'index' %}" class="bg-dark-blue text-white px-4 py-2 rounded-md" style="font-size: 15px;">Retour</a>
</body>
</html>